@import "./styles/base.scss";
:root {
  --primary-color: rgb(112, 136, 232);
  --duration: 1s;
  --easing: cubic-bezier(0.5, 0, 0.5, 1);
}
body {
  font-family: "Open Sans", sans-serif;
  padding: 5vmin;
  // background-color: var(--primary-color);
  // color: var(--fg-color, white);
  
}
#app{
  --transparency: 1;
  --bg: white;

  &[data-state='loading']{
    --transparency: 0.3;
    --bg:orange;
  }
  &[data-state='success']{
    --transparency: 0.3;
    --bg:rgb(81, 218, 81);
  }
  background-color: var(--bg);
}


a {
  color: blue;
}

h1 {
  margin: 0;
  opacity: var(--transparency);
}

small {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  margin: 1rem 0;
}

.ball {
  height: 5vmin;
  width: 5vmin;
  left: 50vw;
  border-radius: 50%;
  background: radial-gradient(circle at bottom right, #fb2324, #fe932a);
  background: #fb2324;
  animation-name: move-square, red-to-green;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes move-square {
  0% {
    transform: none;
  }
  25% {
    transform: translateX(20vw);
  }
  50% {
    animation-timing-function: ease-in-out;
    transform: translateX(20vw) translateY(10vw);
  }
  75% {
    transform: translateX(0) translateY(10vw);
  }
  100% {
    transform: none;
  }
}

@keyframes red-to-green {
  from{
    background: red;
  }
  to{
    background: aquamarine;
  }
  
}

.button{
  appearance: none;
  background-color: blue;
  color: white;
  font-weight: bold;
  padding: 2rem 3rem;
  border:none;
  border-radius: 0.5rem;
  transition: all 0.5s;
  
  &:hover{
    opacity:0.6;
  }
  &:active{
    transform: translateY(20%);
  }
}

// .ball {
//   height: 5vmin;
//   width: 5vmin;
//   left: 50vw;
//   border-radius: 50%;
//   background: radial-gradient(circle at bottom right, #fb2324, #fe932a);
//   background: #fb2324;
//   // transition-property: background, transform;
//   // transition-duration: 1s, 3s;
//   // transition-timing-function: linear, ease-in-out;
//   // transition-duration: 0.5s;
//   transition: all 1s 0.5s  ease-in-out;
//   &:hover {
//     //  transition-delay: 0.5s;
//     // transition-duration: 1s, 3s;
//     background: blue;
//     transform: scale(2);
//   }
//   // animation: slide-right var(--duration) var(--easing) infinite;
// }

// @keyframes slide-right {
//   from {
//     transform: translateX(0);
//   }
//   to {
//     transform: translateX(50vw);
//   }
// }
